@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Caprasimo&family=Handjet:wght@300&display=swap');

:root {
    --cor-primaria : #ffffff;
    --cor-secundaria: #000000;
    --cor-terciaria:#363535;

    --cor-fonte-primaria:#ffffff;
    --cor-fonte-secundaria: #000000;

    --bg-primaria:#e3e2e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primaria);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background: var(--cor-secundaria);
    padding: 1rem 2.5rem;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: left;
}

#logo__imagem {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-family: 'Handjet', cursive;
    font-size: 3rem;
    color: var(--cor-primaria);
}


.ul-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.ul-menu li {
    display: flex;
    padding: 1rem;
}

.ul-menu li:hover {
    background-color: var(--cor-terciaria);
    border-radius: 6px;
}

.ul-menu li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: 'Bricolage Grotesque', sans-serif;
}


.menu__imagens {
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px;
}

main {
    overflow: hidden;
    margin-top: 10px;
}

.secao__frase {
    display: inline-block; 
    text-align: center; 
    background-color: var(--cor-terciaria);
    width:100%;
    padding: 1rem 0.6rem; 
}

.secao__frase p {
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: var(--cor-primaria);
}


h2{
    color: var(--cor-fonte);
    margin: 2rem 0 1rem 0;
    padding: 0.7rem 0 ;
    text-align: center;
    color: var(--cor-terciaria);
    font-size: 2rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 700;
}

.secao_divPrincipal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.secao__itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 23rem;
    background-color: var(--cor-primaria);
    border-radius: 8px;
    margin: 0.6rem;
    padding: 5px;
    
}

.preco {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0 0.8rem 0;
}

.secao__itens-imagens {
    width: 75%;
    
}

.secao__itens-btn {
    width: 6rem;
    padding: 0.6rem;
    margin: 0.6rem;
    border-radius: 8px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    align-self:center;
}

.secao__itens-btn:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.secao__propaganda {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.secao__propaganda div {
    text-align: center; 
}

#propaganda {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin-top: 30px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--cor-primaria);
    border-top: 1px solid var(--cor-secundaria);
    margin-top: 3em;
    padding: 4em;
    background-color:var(--cor-secundaria);
}
.rodape__informacoes {
    text-align: center;
}
.rodape__links {
    display: flex;
    justify-content: space-evenly;
    gap: 1.25rem;
    margin-top: 1rem;
}

.rodape__links-icones {
    width: 100%;
}


/* media para telas de tablet e telas menores */
@media screen and (max-width: 1024px) {
    nav {
        padding: 1rem 2.5rem;
        width: 100vw;
    }

    #logo__imagem {
        max-width: 85%;
        max-height: 85%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .ul-menu li a span {
        display: none;
    }

    .ul-menu li {
        padding: 1rem 0.5rem;
    }

    h2 {
        margin: 0.5rem 0;
    }

    .secao__itens {
        width: 14rem;
        height: 22rem;
    }
    
    .secao__propaganda div {
        text-align: center; 
    }
    
    #propaganda {
        max-width: 100%;
        max-height: 100%;
        margin: 50px 0 1.25px 0px;
    }

    footer {
        padding: 3rem ;
    }

    .rodape__links-icones {
        width: 70%;
    }
}

/* media para smartphones */
@media screen and (max-width: 500px) {

nav {
    padding: 1.2rem 1rem;
}

#logo__imagem {
    max-width: 75%;
    max-height: 75%;
}

h1{
    font-size: 2rem;
}

.menu__imagens {
    width: 1.3rem;
    height: 1.3rem;
    margin: 8px 2px;
}

.ul-menu li {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    margin: 1rem 0;
}

.secao__frase {
    width: 100%;
}

h2{
    margin-top: 1rem;
    font-size: 2rem;   
}

.secao__itens {
    width: 11.5rem;
    height: 19rem;
}

.secao__itens-btn {
    width: 5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.secao__propaganda div {
    text-align: center; 
}

#propaganda {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}

footer {
    padding: 2rem;
}

.rodape__links-icones {
    width: 50%;
}

}

/* media para telas maiores */
@media screen and (min-width: 1280px){
    main {
        margin: 10px auto; 
        max-width: 1400px; 
        padding: 0 20px;
    }
}